<div class="container">
  <h1>Formulário de Produti</h1>

  <form [[formGroup]="formulario"]>

    <div class="mt-3">
      <label for="inDesc" class="form-label">Descrição:</label>
      <input type="text" id="inDesc" formControlName="descricao" class="form-control">
      <div *ngIf="formulario.get('descricao')?.errors?.[required]">
        <small class="text-danger">Descrição deve ser informada</small>
      </div>
      <div *ngIf="formulario.get('descricao')?.errors?.[minlength]">
        <small class="text-danger">Descrição deve ter tamanho mínimo de 5 caracteres</small>
      </div>
    </div>

    <div class="mt-3">
      <label for="inPreco" class="form-label">Preço:</label>
      <input type="text" id="inPreco" [(ngModel)]="preco" class="form-control">
      <div *ngIf="formulario.get('preco')?.errors?.[required]">
        <small class="text-danger">Preço deve ser informado</small>
      </div>
    </div>

    <div class="mt-5">
      <button
        (click)="onCadastrar()"
        [disabled]="formulario.invalid"
        class="btn btn-primary">Cadastar
      </button>
    </div>

  </form>
</div>
